<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body-profile">
                    <h3 class="title-user">Bienvenido {{user.fullname}}</h3>
                    <h4>Username: {{user.username}}</h4>
                    <h5>Rol: {{user.rol}}</h5>
                    <a href="/telefonos" class="btn m-4 btn-profile">
                        Guarda tus télefonos
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>